@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0FB5AE;
  --color-primary-light: #DDF5F2;
  --color-secondary: #1D1B4B;
  
  --color-status-success: #0FB5AE;
  --color-status-warning: #EAB308;
  --color-status-danger: #EF4444;

  --font-sans: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-secondary antialiased;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
}
